<!DOCTYPE HTML>
<html lang ="en">
  <head>
    <meta charset="utf-8">
    <title><%="Teams: #{@team_name}"%></title>
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>
    <h1><%="#{@team_name}"%></h1>
    <% @teams.each do |team| %>
      <p>hello</p>
    <% end %>

  </body>
</html>
