/* YOUR STYLING HERE */

.tweet {
  margin: 5%;
  max_width: 95%;
  padding: 20px;
  background-color: $light-grey;
  border: 2px solid black
}

.profile-picture {
  /* top | right | bottom | left */
  margin: 1% auto 0% 1%;
  width: 10%
  // padding: 5px;
}

.user-date-info h3 {
  display: inline;
  /* top | right | bottom | left */
  margin: 0% 20% 0% 5%;
  color: $grey;
}

.tweet-text p {
  color: red;
}

.action-icons {

}
