<nav aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    <li><a href="#">HOME</a></li>
    <li><a href="#">PRODUCT</a></li>
    <li><a href="#">XYZ</a></li>
    <li><a href="#">FEATURES</a></li>
  </ul>
</nav>


<div class="text-center">
  <h1>Drew is the best at foundation</h1>
  <h3>Here is why:</h3>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #1</h3>
    <p>
      He studied for nearly 20 minutes
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #2</h3>
    <p>
      He read some of the foundation docs
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>  </div>
</div>

<div class="small-12 medium-4 columns">
  <div class="callout secondary">
    <h3>Reason #3</h3>
    <p>
      He switched xyz grid to float grid (pro tip)
    </p>
    <div class="text-center">
      <a href="#" class="button">Learn More</a>
    </div>
  </div>
</div>
